@import './Variables.scss';

.profile {
    margin-top: 50px;
    height: 800px;
    width: 100%;
    border-radius: 3px;
}

.profile_w {
    display: flex;
    justify-content: space-between;
}

.profile_circle {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border: 9px solid rgb(77, 77, 77);
    border-radius: 50%;
    &:before {
        display: flex;
        content: "";
        width: 220px;
        height: 220px;
        background: url('../assets/svg/profile.svg') no-repeat center;
        background-size: contain;
    }
}

.profile_hr {
    margin: 15px 0;
    width: 35px;
    border-top: 3px solid rgb(232, 232, 232);
}

.profile_title {
    font-size: 26px;
    color: $dark;
    font-weight: 500;
    margin-top: 20px;
}

.profile_email {
    color: $blue;
    margin-top: 10px;
}

.profile_sidebar {
    padding: 10px;
    width: 300px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px $light_gray;
    display: flex;
    flex-direction: column;
}

.profile_switch {
    text-decoration: none;
    border: 1px solid $light_gray;
    transition: all 0.3s ease-in;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    color: $dark;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    &:hover {
        background-color: $blue;
        color: white;
        cursor: pointer;
    }
}

.profile_body {
    width: calc(100% - 320px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px $light_gray;
}

.main_w {
    display: flex;
    flex-direction: column;
}

.main_title {
    font-size: 36px;
    color: $dark;
    font-weight: 700;
}

.main_panel {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    gap: 16px;
}

.main_hr {
    margin: 15px 0;
    width: 100%;
    border-top: 3px solid rgb(232, 232, 232);
}

.main_panel_box {
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 3px $light_gray;
    width: 250px;
    height: 150px;
    background-color: white;
    text-decoration: none;
    color: $dark;
    font-weight: 500;
    &:hover {
        color: white;
        background-color: $blue;
    }
}

.basket_table {
    width: 100%;
    thead {
        width: 100%;
        background-color: whitesmoke;
    }
    th, td {
        text-align: start;
        color: #444;
        font-weight: 500px;
        font-size: 14px;
        padding: 8px;
    }
    td {
        font-size: 16px;
        font-weight: 700;
    }
    .basket_item {
        color: $blue;
    }
    .basket_price {
        text-decoration: underline;
        color: $light_red;
    }
    .basket_img {
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .basket_rm {
        a {
            &:hover {
                cursor: pointer;
            }
        }
        span {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            content: "";
            width: 25px;
            height: 25px;
            background: url('../assets/svg/close.svg') no-repeat center;
            background-size: contain;
        }
        width: 100px;
    }
    .basket_empty {
        font-weight: 700;
        margin-top: 10px;
    }
}

.basket_buy {
    transition: all .25s ease-out;
    border: none;
    background-color: $blue;
    color: white;
    border-radius: 3px;
    font-size: 24px;
    padding: 15px 40px;
    float: right;
    &:hover {
        cursor: pointer;
        background-color: rgb(33, 98, 202);
    }
}

.profile_settings {
    display: flex;
    margin: 15px 0;
    .profile_left {
        font-size: 20px;
        color: $dark;
        font-weight: 500;
        width: 50%;
    }
    .profile_right {
        text-decoration: underline;
        font-size: 20px;
        color: $light_red;
        font-weight: 500;
        width: 50%;
    }
}
